<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/admin/Desktop/1/springboot-mybatis-demo">
    <classes>
        <class name="com.ayt.SpringbootMybatisDemoApplicationTests">
            <methods><include name="contextLoads"/>
            </methods>
        </class>
    </classes>
</test>
</suite>